
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>工程展示  /  房屋建筑_河南某某建筑集团有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="某某集团有限公司第一建筑安装分公司是集团公司龙头企业。" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
    <link rel="stylesheet" href="../../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../../static/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="https://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/xingyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/shizhenggonglu/">
                                <div class="c_nav_nav_li2_b c">市政公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/jidiananzhuang/">
                                <div class="c_nav_nav_li2_b c">机电安装<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/zhuangshizhuangxiu/">
                                <div class="c_nav_nav_li2_b c">装饰装修<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gangjiegou/">
                                <div class="c_nav_nav_li2_b c">钢结构<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/xingyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  <a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a>  <a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a>  <a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a>  <a href="/gongchengzhanshi/gangjiegou/">钢结构</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<style type="text/css">
    .nav-box{
        position: relative;
    }
    .nav-box .nav-line {
        background: url("../../static/images/cj30.png") no-repeat;
        bottom: -73px;
        left: 0;
        z-index: 9;
        position: absolute;
        width: 137px;
        height: 10px;
    }
</style>
<div class="z_ny_banner" style="background: url(../../static/images/cases.jpg) no-repeat center; ">
    <div class="z_ny_banner_bg c">
        <div class="lmmc">工程展示</div>
        <div class="mbxdh"><a href='https://383.yingzicms.com/'>主页</a> > <a href='/a/gongchengzhanshi/'>工程展示</a> > <a href='/a/gongchengzhanshi/fangwujianzhu/'>房屋建筑</a> > </div>
    </div>
</div>
<div class="z_ejdh">
    <div class="box">
        <div class="z_ejdh_main">
            <div class="nav-box">
                <ul>
                    <li class='cur'><a href='/a/gongchengzhanshi/fangwujianzhu/'>房屋建筑</a></li>
                    <li><a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a></li>

                    <li><a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a></li>

                    <li><a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a></li>

                    <li><a href="/gongchengzhanshi/gangjiegou/">钢结构</a></li>

                </ul>
                <div class="nav-line"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function ($) {
        $(function () {
            nav();
        });

        function nav() {
            var $liCur = $(".nav-box ul li.cur"),
                curP = $liCur.position().left,
                curW = $liCur.outerWidth(true),
                $slider = $(".nav-line"),
                $targetEle = $(".nav-box ul li a"),
                $navBox = $(".nav-box");
            $slider.stop(true, true).animate({
                "left":curP,
                "width":curW
            });
            $targetEle.mouseenter(function () {
                var $_parent = $(this).parent(),
                    _width = $_parent.outerWidth(true),
                    posL = $_parent.position().left;
                $slider.stop(true, true).animate({
                    "left":posL,
                    "width":_width
                }, "fast");
            });
            $navBox.mouseleave(function (cur, wid) {
                cur = curP;
                wid = curW;
                $slider.stop(true, true).animate({
                    "left":cur,
                    "width":wid
                }, "fast");
            });
        };

    })(jQuery);

</script>
<div class="z_ny_cont c">
    <div class="box">
        <div class="z_cplist">
            <ul>
                <li > <a href="/gongchengzhanshi/fangwujianzhu/37.html"> <span class="cptp"> <img src="/uploads/allimg/200703/1-200F31116430-L.jpg" alt="文化中心"> </span> <span class="cpbt"> <b class="l"> 文化中心 </b> <i class="r">></i> </span> </a> </li><li > <a href="/gongchengzhanshi/fangwujianzhu/32.html"> <span class="cptp"> <img src="/uploads/allimg/200703/1-200F31112240-L.jpg" alt="CBD创业大厦工程"> </span> <span class="cpbt"> <b class="l"> CBD创业大厦工程 </b> <i class="r">></i> </span> </a> </li><li style='margin-right:0;'> <a href="/gongchengzhanshi/fangwujianzhu/31.html"> <span class="cptp"> <img src="/uploads/allimg/200703/1-200F31111160-L.jpg" alt="国际机场航站楼"> </span> <span class="cpbt"> <b class="l"> 国际机场航站楼 </b> <i class="r">></i> </span> </a> </li>
            </ul>
        </div>
        <div id="yema">
            <div class="pages"> <a style='width:150px;'>共 1页3条记录</a>
            </div>
        </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/xingyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                        <li><a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a></li>

                        <li><a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a></li>

                        <li><a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a></li>

                        <li><a href="/gongchengzhanshi/gangjiegou/">钢结构</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="../../static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="../../static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="box">
            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>
        </div>
    </div>
</div>

</body>
</html>
