
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>联系我们_河南某某建筑集团有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
    <link rel="stylesheet" href="../../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../../static/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="https://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/xingyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/shizhenggonglu/">
                                <div class="c_nav_nav_li2_b c">市政公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/jidiananzhuang/">
                                <div class="c_nav_nav_li2_b c">机电安装<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/zhuangshizhuangxiu/">
                                <div class="c_nav_nav_li2_b c">装饰装修<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gangjiegou/">
                                <div class="c_nav_nav_li2_b c">钢结构<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/xingyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  <a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a>  <a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a>  <a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a>  <a href="/gongchengzhanshi/gangjiegou/">钢结构</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<style type="text/css">
    .nav-box{
        position: relative;
    }
    .nav-box .nav-line {
        background: url("../../static/images/cj30.png") no-repeat;
        bottom: -73px;
        left: 0;
        z-index: 9;
        position: absolute;
        width: 137px;
        height: 10px;
    }
</style>
<div class="z_ny_banner wps-show " style="background: url(../../static/images/contact.jpg) no-repeat center; ">
    <div class="z_ny_banner_bg c">
        <div class="lmmc">联系我们</div>
        <div class="mbxdh"><a href='https://383.yingzicms.com/'>主页</a> > <a href='/a/lianxiwomen/'>联系我们</a></div>
    </div>
</div>
<div class="z_ny_banner wps-no" style="background: url(../../static/images/contact.jpg) no-repeat center;background-size: cover;">
    <div class="z_ny_banner_bg c"> </div>
</div>
<div class="z_ejdh">
    <div class="box">
        <div class="z_ejdh_main">
            <div class="nav-box">
                <ul>
                    <li class="cur"><a href="[field:typename/]">联系方式</a></li>
                </ul>
                <div class="nav-line"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function ($) {
        $(function () {
            nav();
        });

        function nav() {
            var $liCur = $(".nav-box ul li.cur"),
                curP = $liCur.position().left,
                curW = $liCur.outerWidth(true),
                $slider = $(".nav-line"),
                $targetEle = $(".nav-box ul li a"),
                $navBox = $(".nav-box");
            $slider.stop(true, true).animate({
                "left":curP,
                "width":curW
            });
            $targetEle.mouseenter(function () {
                var $_parent = $(this).parent(),
                    _width = $_parent.outerWidth(true),
                    posL = $_parent.position().left;
                $slider.stop(true, true).animate({
                    "left":posL,
                    "width":_width
                }, "fast");
            });
            $navBox.mouseleave(function (cur, wid) {
                cur = curP;
                wid = curW;
                $slider.stop(true, true).animate({
                    "left":cur,
                    "width":wid
                }, "fast");
            });
        };

    })(jQuery);

</script>
<div class="z_ny_conts">
    <div class="newsca c" style="background: #fff">
        <div class="box">
            <div class="z_jxlyx">
                <div class="n_lxwm_l">
                    <div class="n_lxwm_l_name c">河南某某建筑集团有限公司</div>
                    <div class="n_lxwm_l_js c">感谢您来到某某建站公司，若您有合作意向，请您为我们留言或使用以下方式联系我们，我们将尽快给你回复，并为您提供最真诚的服务，谢谢。</div>
                    <div class="n_lxwm_l_list c">
                        <ul>
                            <li> <span>地址：河南省开封市祥符区</span> </li>
                            <li> <span>电话：0371-00000000</span> </li>
                            <li> <span>传真：0371-00000000</span> </li>
                            <li> <span>邮箱：<a class="__yjs_email__" href="/cdn-cgi/l/email-protection" data-yjsemail="0c6d686165624c6b6976646d626f62226f6361">[email&#160;protected]</a><script data-yjshash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-yjshash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-yjsemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></span> </li>
                            <li> <span>网址：https://383.yingzicms.com</span> </li>
                        </ul>
                    </div>
                    <div class="n_lxwm_l_ewm c">
                        <ul>
                            <li>
                                <div class="n_lxwm_l_ewm_img c"><img src="../../static/images/ewm2.jpg"/></div>
                                <div class="n_lxwm_l_ewm_name c">扫一扫查看移动端网站</div>
                            </li>
                            <li>
                                <div class="n_lxwm_l_ewm_img c"><img src="../../static/images/ewm.jpg"/></div>
                                <div class="n_lxwm_l_ewm_name c">扫一扫关注微信公众号</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="n_lxwm_r">
                    <form action="/plus/diy.php" enctype="multipart/form-data" method="post" onsubmit="return checkForm();">
                        <input type="hidden" name="action" value="post" />
                        <input type="hidden" name="diyid" value="1" />
                        <input type="hidden" name="do" value="2" />
                        <div>
                            <input name="name" id="name" type="text" placeholder="联系人">
                        </div>
                        <div>
                            <input name="tel" id="tel" type="text" placeholder="电话">
                        </div>
                        <div>
                            <input name="email" type="text" placeholder="邮箱">
                        </div>
                        <div>
                            <textarea name='content' placeholder="留言内容"></textarea>
                        </div>
                        <input type="hidden" name="dede_fields" value="name,text;tel,text;email,text;content,text" />
                        <input type="hidden" name="dede_fieldshash" value="a321dd28a1c1870e417cdea510c295c2" />
                        <div class="n_lxwm_sub c">
                            <input class="n_lxwm_sub_s1" type="submit" name="submit" value="提交">
                            <input class="n_lxwm_sub_s2" type="reset" name="reset" value="清除">
                        </div>
                    </form>
                    <script type="text/javascript">
                        function checkForm()
                        {
                            if(document.getElementById('name').value.length == 0)
                            {
                                alert('您的姓名不能为空！');
                                return false;
                            }
                            if(document.getElementById('tel').value.length == 0)
                            {
                                alert('您的电话不能为空！');
                                return false;
                            }

                            return true;
                        }
                    </script>
                </div>
            </div>
            <div class="z_jxmap">
                <script type="text/javascript" src="../../static/js/map.js"></script>
                <div style="width:100%; height: 600px; border:#ccc solid 1px;font-size:12px" id="map"></div>
                <script type="text/javascript">
                    //创建和初始化地图函数：
                    function initMap(){
                        createMap();//创建地图
                        setMapEvent();//设置地图事件
                        addMapControl();//向地图添加控件
                        addMapOverlay();//向地图添加覆盖物
                    }
                    function createMap(){
                        map = new BMap.Map("map");
                        map.centerAndZoom(new BMap.Point(114.445979,34.770891),15);
                    }
                    function setMapEvent(){
                        map.enableScrollWheelZoom();
                        map.enableKeyboard();
                        map.enableDragging();
                        map.enableDoubleClickZoom()
                    }
                    function addClickHandler(target,window){
                        target.addEventListener("click",function(){
                            target.openInfoWindow(window);
                        });
                    }
                    function addMapOverlay(){
                        var markers = [
                            {content:"地址：河南省开封市祥符区",title:"河南某某建筑集团有限公司",imageOffset: {width:-46,height:-21},position:{lat:34.770891,lng:114.445979}}
                        ];
                        for(var index = 0; index < markers.length; index++ ){
                            var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                            var marker = new BMap.Marker(point,{icon:new BMap.Icon("https://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                                })});
                            var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
                            var opts = {
                                width: 200,
                                title: markers[index].title,
                                enableMessage: false
                            };
                            var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
                            marker.setLabel(label);
                            addClickHandler(marker,infoWindow);
                            map.addOverlay(marker);
                        };
                    }
                    //向地图添加控件
                    function addMapControl(){
                        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
                        map.addControl(scaleControl);
                        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
                        map.addControl(navControl);
                        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
                        map.addControl(overviewControl);
                    }
                    var map;
                    initMap();
                </script>
            </div>
        </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/xingyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                        <li><a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a></li>

                        <li><a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a></li>

                        <li><a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a></li>

                        <li><a href="/gongchengzhanshi/gangjiegou/">钢结构</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="../../static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="../../static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="box">
            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>
        </div>
    </div>
</div>

</body>
</html>
