
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新闻资讯  /  公司动态_十堰市昊阳建设工程有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
    <link rel="stylesheet" href="../../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../../static/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="https://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/hangyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/suidaogongcheng/">
                                <div class="c_nav_nav_li2_b c">隧道工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gaosugonglu/">
                                <div class="c_nav_nav_li2_b c">高速公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/qiaolianggongcheng/">
                                <div class="c_nav_nav_li2_b c">桥梁工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/dixiaguanlang/">
                                <div class="c_nav_nav_li2_b c">地下管廊<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/hangyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a>  <a href="/gongchengzhanshi/gaosugonglu/">高速公路</a>  <a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a>  <a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a>  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<style type="text/css">
    .nav-box{
        position: relative;
    }
    .nav-box .nav-line {
        background: url("../../static/images/cj30.png") no-repeat;
        bottom: -73px;
        left: 0;
        z-index: 9;
        position: absolute;
        width: 137px;
        height: 10px;
    }
</style>
<div class="z_ny_banner wps-show " style="background: url(../../static/images/news.jpg) no-repeat center;">
    <div class="z_ny_banner_bg c">
        <div class="lmmc">新闻资讯</div>
        <div class="mbxdh"><a href='https://383.yingzicms.com/'>主页</a> > <a href='/xinwenzixun/'>新闻资讯</a> > <a href='/xinwenzixun/gongsidongtai/'>公司动态</a> > </div>
    </div>
</div>
<div class="z_ny_banner wps-no" style="background: url(../../static/images/newsm.jpg) no-repeat center;background-size: cover;">
    <div class="z_ny_banner_bg c"> </div>
</div>
<div class="z_ejdh">
    <div class="box">
        <div class="z_ejdh_main">
            <div class="nav-box">
                <ul>

                    <li><a href="/xinwenzixun/hangyexinwen/">行业新闻</a></li>
                    <li class='cur'><a href='/xinwenzixun/gongsidongtai/'>公司动态</a></li>
                </ul>
                <div class="nav-line"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function ($) {
        $(function () {
            nav();
        });

        function nav() {
            var $liCur = $(".nav-box ul li.cur"),
                curP = $liCur.position().left,
                curW = $liCur.outerWidth(true),
                $slider = $(".nav-line"),
                $targetEle = $(".nav-box ul li a"),
                $navBox = $(".nav-box");
            $slider.stop(true, true).animate({
                "left":curP,
                "width":curW
            });
            $targetEle.mouseenter(function () {
                var $_parent = $(this).parent(),
                    _width = $_parent.outerWidth(true),
                    posL = $_parent.position().left;
                $slider.stop(true, true).animate({
                    "left":posL,
                    "width":_width
                }, "fast");
            });
            $navBox.mouseleave(function (cur, wid) {
                cur = curP;
                wid = curW;
                $slider.stop(true, true).animate({
                    "left":cur,
                    "width":wid
                }, "fast");
            });
        };

    })(jQuery);

</script>
<div class="z_ny_conts">
    <div class="newsca c" style="padding-top: 0;">
        <div class="box">
            <div class="newscanr c">
                <ul>
                    <li> <a href="/xinwenzixun/gongsidongtai/30.html">
                        <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="“一条通往繁荣发展的铁路”（共创繁荣发展新时代）"></div>
                        <div class="newscanrn l">
                            <div class="newscanrnbt">“一条通往繁荣发展的铁路”（共创繁荣发展新时代）</div>
                            <div class="newscanrnxt">2020-07-02</div>
                            <div class="newscanrnnr">3月24日，中建集团在京召开复工复产推进会，深入贯彻落实习近平总书记关于统筹推进疫情防控和经济社会发展的重要讲话和指示批示精神，认真落实党中央、国务院关于加快复工复产...</div>
                        </div>
                    </a> </li><li> <a href="/xinwenzixun/gongsidongtai/29.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团全力建设“港版火神山”，争分夺秒，"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团全力建设“港版火神山”，争分夺秒，</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">近期，香港疫情防控形势严峻。由中国建筑集团旗下中国建筑工程（香港）有限公司承建的香港紧急检疫中心项目，被媒体誉为港版火神山，3月2日开始入住第一批隔离人员，至今累计...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/28.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中央媒体集中关注中建集团全球战“疫”"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中央媒体集中关注中建集团全球战“疫”</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">一场疫情，牵动全球。从建设火神山、雷神山等专门医院，到统筹推进疫情防控和复工复产，再到积极做好海外疫情防控。中建集团始终勇于担当，不畏艰险，团结拼搏，冲锋在前，投...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/27.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="<b>中建集团召开2020年度商务管理工作会议</b>"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt"><b>中建集团召开2020年度商务管理工作会议</b></div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">3月31日，中建集团2020年度商务管理工作会议在京召开，会议以习近平新时代中国特色社会主义思想为指导，深入学习贯彻党的十九大、十九届二中、三中、四中全会精神，认真落实党中...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/26.html">
                    <div class="newscanrt l"><img src="/uploads/allimg/200702/1-200F21P929339.png" alt="中国建筑成功签约阿尔及尔700床CHU医院项目"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中国建筑成功签约阿尔及尔700床CHU医院项目</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">阿尔及利亚时间4月2日，中国建筑与阿尔及利亚政府正式签署阿尔及尔700床CHU医院项目的设计及建造合同。 该项目位于阿尔及尔宰哈达区域，占地面积20公顷。合同签约额约5亿美元，工...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/25.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团荣获多项甘肃省2019年度脱贫攻坚奖"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团荣获多项甘肃省2019年度脱贫攻坚奖</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">近日，甘肃省对2019年度脱贫攻坚先进集体和先进个人进行表彰奖励。中建集团荣获2019年度脱贫攻坚帮扶先进集体，定点扶贫干部张强、罗恒、马正银荣获脱贫攻坚帮扶先进个人，集团...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/24.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="复工复产“建”行动！中建集团多措并举提高复"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">复工复产“建”行动！中建集团多措并举提高复</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">中共中央政治局常务委员会4月8日召开会议，中共中央总书记习近平主持会议并发表重要讲话。习近平在讲话中强调，要坚持在常态化疫情防控中加快推进生产生活秩序全面恢复，抓紧...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/23.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团召开2020年一季度运营分析会议"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团召开2020年一季度运营分析会议</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">4月16日，中建集团在京召开2020年一季度运营分析会议，深入学习贯彻习近平总书记关于统筹推进疫情防控和经济社会发展的重要讲话和指示批示精神，认真落实党中央、国务院决策部署...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/22.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团召开2020年度财务金融工作会议"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团召开2020年度财务金融工作会议</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">5月8日，中建集团2020年度财务金融工作会议在京召开，会议以习近平新时代中国特色社会主义思想为指导，深入学习贯彻党中央、国务院关于疫情防控、复工复产等重大决策部署和国务...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/gongsidongtai/21.html">
                    <div class="newscanrt l"><img src="/uploads/allimg/200702/1-200F21K640L6.jpg" alt="火力全开，乘势而上！中建集团东西南北中项目"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">火力全开，乘势而上！中建集团东西南北中项目</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">近日，中建集团各子企业继续加大力度、投入资源狠抓生产经营，坚定信心，乘势而上。全国各地一大波新开工重点项目纷纷开工，更好服务区域经济社会发展。中建人已火力全开，点...</div>
                    </div>
                </a> </li>
                </ul>
            </div>
            <div id="yema">
                <div class="pages"> <a>首页</a>
                    <span class="thisclass">1</span>
                    <a href='list_8_2.html'>2</a>
                    <a href='list_8_2.html'>下一页</a>
                    <a href='list_8_2.html'>末页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/hangyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a></li>

                        <li><a href="/gongchengzhanshi/gaosugonglu/">高速公路</a></li>

                        <li><a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a></li>

                        <li><a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a></li>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="../../static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="../../static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="box">
            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>
        </div>
    </div>
</div>

</body>
</html>
