
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新闻资讯  /  行业新闻_河南某某建筑集团有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
    <link rel="stylesheet" href="../../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../../static/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="https://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/hangyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/shizhenggonglu/">
                                <div class="c_nav_nav_li2_b c">市政公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/jidiananzhuang/">
                                <div class="c_nav_nav_li2_b c">机电安装<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/zhuangshizhuangxiu/">
                                <div class="c_nav_nav_li2_b c">装饰装修<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gangjiegou/">
                                <div class="c_nav_nav_li2_b c">钢结构<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../../static/images/logo.png" alt="河南某某建筑集团有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/hangyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  <a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a>  <a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a>  <a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a>  <a href="/gongchengzhanshi/gangjiegou/">钢结构</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<style type="text/css">
    .nav-box{
        position: relative;
    }
    .nav-box .nav-line {
        background: url("../../static/images/cj30.png") no-repeat;
        bottom: -73px;
        left: 0;
        z-index: 9;
        position: absolute;
        width: 137px;
        height: 10px;
    }
</style>
<div class="z_ny_banner wps-show " style="background: url(../../static/images/news.jpg) no-repeat center;">
    <div class="z_ny_banner_bg c">
        <div class="lmmc">新闻资讯</div>
        <div class="mbxdh"><a href='https://383.yingzicms.com/'>主页</a> > <a href='/xinwenzixun/'>新闻资讯</a> > <a href='/xinwenzixun/hangyexinwen/'>行业新闻</a> > </div>
    </div>
</div>
<div class="z_ny_banner wps-no" style="background: url(../../static/images/newsm.jpg) no-repeat center;background-size: cover;">
    <div class="z_ny_banner_bg c"> </div>
</div>
<div class="z_ejdh">
    <div class="box">
        <div class="z_ejdh_main">
            <div class="nav-box">
                <ul>
                    <li class='cur'><a href='/xinwenzixun/hangyexinwen/'>行业新闻</a></li>
                    <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                </ul>
                <div class="nav-line"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function ($) {
        $(function () {
            nav();
        });

        function nav() {
            var $liCur = $(".nav-box ul li.cur"),
                curP = $liCur.position().left,
                curW = $liCur.outerWidth(true),
                $slider = $(".nav-line"),
                $targetEle = $(".nav-box ul li a"),
                $navBox = $(".nav-box");
            $slider.stop(true, true).animate({
                "left":curP,
                "width":curW
            });
            $targetEle.mouseenter(function () {
                var $_parent = $(this).parent(),
                    _width = $_parent.outerWidth(true),
                    posL = $_parent.position().left;
                $slider.stop(true, true).animate({
                    "left":posL,
                    "width":_width
                }, "fast");
            });
            $navBox.mouseleave(function (cur, wid) {
                cur = curP;
                wid = curW;
                $slider.stop(true, true).animate({
                    "left":cur,
                    "width":wid
                }, "fast");
            });
        };

    })(jQuery);

</script>
<div class="z_ny_conts">
    <div class="newsca c" style="padding-top: 0;">
        <div class="box">
            <div class="newscanr c">
                <ul>
                    <li> <a href="/xinwenzixun/hangyexinwen/14.html">
                        <div class="newscanrt l"><img src="/uploads/allimg/200702/1-200F21JJ6235.gif" alt="中建集团科技工作者张琨荣获第二届全国创新争"></div>
                        <div class="newscanrn l">
                            <div class="newscanrnbt">中建集团科技工作者张琨荣获第二届全国创新争</div>
                            <div class="newscanrnxt">2020-07-03</div>
                            <div class="newscanrnnr">5月30日是第四个全国科技工作者日。人力资源社会保障部、中国科协、科技部、国务院国资委联合举办的第二届全国创新争先奖表彰奖励大会在京举行。中建三局副总经理、总工程师张...</div>
                        </div>
                    </a> </li><li> <a href="/xinwenzixun/hangyexinwen/15.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="<b>中国建筑2020年“书香中建”大讲堂正式开讲</b>"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt"><b>中国建筑2020年“书香中建”大讲堂正式开讲</b></div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">5月28日，中国建筑2020年书香中建大讲堂第1期（总第33期）舆论引导与舆情应对专项培训正式开讲。本期专项培训共四讲，第一讲邀请中国传媒大学教授、博士生导师、政府与公共事务学...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/13.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="赵钊、黄克斯一行赴中建新疆建工调研"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">赵钊、黄克斯一行赴中建新疆建工调研</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">5月29日至30日，中建集团纪检监察组组长、党组成员赵钊，中建股份副总裁黄克斯一行赴中建新疆建工调研。 5月29日，赵钊、黄克斯一行查看了中建新疆建工建工筑业文化馆。随后来到...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/12.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="郑学选会见中电海康董事长陈宗年"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">郑学选会见中电海康董事长陈宗年</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">6月2日，中国建筑集团有限公司党组副书记、总经理郑学选在北京总部会见中电海康集团有限公司党委书记、董事长陈宗年一行，双方就加强务实合作展开深入交流。集团党组成员、副...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/11.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团沉浸式视频会议系统上线试运行"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团沉浸式视频会议系统上线试运行</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">开会不卡、稳定流畅，它可带来低宽带高清双流体验。真人大小、眼对眼交流，它可进行三屏全景高清画面采集立足疫情防控要求，提升远程办公质量，有效支撑疫情防控和业务开展两...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/10.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="建交45周年，中国建筑助力中菲友谊新未来"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">建交45周年，中国建筑助力中菲友谊新未来</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">1975年6月9日，中国与菲律宾正式建交。6月9日是中菲建交45周年。在中国-菲律宾建交45周年纪念日的重要时刻，《中国东盟报道》以共创我们的新未来为主题出版纪念专刊，中国建筑承建...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/9.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中国建筑与烟台市政府签署战略合作协议"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中国建筑与烟台市政府签署战略合作协议</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">6月9日，中国建筑与烟台市政府在京签署战略合作协议。中建集团党组成员、副总经理马泽平，烟台市委副书记、市长陈飞出席签约仪式；中建股份助理总经理、市场与项目管理部总经...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/8.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="抓实抓细在京单位和项目疫情防控"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">抓实抓细在京单位和项目疫情防控</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">6月15日，中建集团在北京总部召开在京单位和项目疫情防控工作视频会议，针对北京市近期疫情防控新形势，深入学习贯彻习近平总书记关于统筹推进疫情防控和经济社会发展工作的重...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/7.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中建集团积极助力北京疫情防控"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中建集团积极助力北京疫情防控</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">当前，首都疫情防控形势严峻复杂，中建集团连续召开专题会议，第一时间下发《关于从严抓好北京地区疫情防控工作的通知》，对集团在京单位和项目疫情防控工作落实进行针对性部...</div>
                    </div>
                </a> </li><li> <a href="/xinwenzixun/hangyexinwen/6.html">
                    <div class="newscanrt l"><img src="/images/defaultpic.gif" alt="中国建筑位居2020年度“义利99”榜单榜首"></div>
                    <div class="newscanrn l">
                        <div class="newscanrnbt">中国建筑位居2020年度“义利99”榜单榜首</div>
                        <div class="newscanrnxt">2020-07-02</div>
                        <div class="newscanrnnr">6月15日，社会价值投资联盟发布了2020年A股上市公司可持续发展价值义利99年度榜单。值得一提的是，中国建筑自2015年至2018年连续四年位列义利99排行榜榜首后，2019年暂居榜单第二位，...</div>
                    </div>
                </a> </li>
                </ul>
            </div>
            <div id="yema">
                <div class="pages"> <a>首页</a>
                    <span class="thisclass">1</span>
                    <a href='list_7_2.html'>2</a>
                    <a href='list_7_2.html'>下一页</a>
                    <a href='list_7_2.html'>末页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/hangyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                        <li><a href="/gongchengzhanshi/shizhenggonglu/">市政公路</a></li>

                        <li><a href="/gongchengzhanshi/jidiananzhuang/">机电安装</a></li>

                        <li><a href="/gongchengzhanshi/zhuangshizhuangxiu/">装饰装修</a></li>

                        <li><a href="/gongchengzhanshi/gangjiegou/">钢结构</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="../../static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="../../static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="box">
            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>
        </div>
    </div>
</div>

</body>
</html>
