
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>十堰市昊阳建设工程有限公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="order by gezhancn.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../static/js/amazeui.min.js"></script>
</head>
<body>

<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/hangyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/suidaogongcheng/">
                                <div class="c_nav_nav_li2_b c">隧道工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gaosugonglu/">
                                <div class="c_nav_nav_li2_b c">高速公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/qiaolianggongcheng/">
                                <div class="c_nav_nav_li2_b c">桥梁工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/dixiaguanlang/">
                                <div class="c_nav_nav_li2_b c">地下管廊<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/hangyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a>  <a href="/gongchengzhanshi/gaosugonglu/">高速公路</a>  <a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a>  <a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a>  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<style>
    .am-tabs-bd{
        border: none;
    }

</style>
<div class="bannersy c">
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            <li style="background: url('../static/uploads/index_1.jpg') no-repeat center;background-size: cover;"></li><li style="background: url('../static/uploads/index_2.2.jpg') no-repeat center;background-size: cover;"></li>
        </ul>
    </div>
</div>
<div class="z_bannersy c">
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-1">
        <ul class="am-slides">
            <li style="background: url('../static/uploads/index_1.jpg') no-repeat center;background-size: cover;"></li><li style="background: url('../static/uploads/index_2.2.jpg') no-repeat center;background-size: cover;"></li>
        </ul>
    </div>
</div>
<div class="contsya c">
    <div class="box"> <div class="contsyabt">新闻资讯 <span>传递昊阳故事 彰显品牌价值</span></div>
        <div class="contsyanr">
            <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
                <ul class="am-tabs-nav am-nav am-nav-tabs">

                    <li class='am-active'><a href="#tab1">行业新闻</a></li>

                    <li style='margin-right:0'><a href="#tab2">公司动态</a></li>

                </ul>
                <div class="am-tabs-bd"> <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div class="contsyanrt">
                        <div class="contsyanrtl l">
                            <div class="contsyanrtlt">中国建筑2020年“书香中建”大讲堂正式开</div>
                            <div class="contsyanrtlb">5月28日，中国建筑2020年书香中建大讲堂第1期（总第33期）舆论引导与舆情应对专项培训正式开讲。本期专项培训共四讲，第一讲邀请中国传媒大学教授、博...</div>
                        </div>
                        <div class="contsyanrtr r"><a href="/xinwenzixun/hangyexinwen/">更多>></a></div>
                    </div>

                    <div class="contsyanrb">
                        <div class="contsyanrbl l">
                            <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
                                <ul class="am-slides">
                                    <li> <a href="/xinwenzixun/hangyexinwen/14.html">
                                        <div class="contsyanrblt">03<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">中建集团科技工作者张琨荣获第二届全国</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21JJ6235.gif" height="324"> </a> </li>
                                    <li> <a href="/xinwenzixun/hangyexinwen/1.html">
                                        <div class="contsyanrblt">02<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">绿建资讯：近期各地绿建政策</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21H2020-L.png" height="324"> </a> </li>

                                </ul>
                            </div>
                        </div>
                        <div class="contsyanrbr r">
                            <ul>
                                <li><a href="/xinwenzixun/hangyexinwen/14.html"> <span class="contsyanrb2 line-clamp l">中建集团科技工作者张琨荣获第二届全国</span> <span class="contsyanrb3 r">2020-07-03</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/13.html"> <span class="contsyanrb2 line-clamp l">赵钊、黄克斯一行赴中建新疆建工调研</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/12.html"> <span class="contsyanrb2 line-clamp l">郑学选会见中电海康董事长陈宗年</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/11.html"> <span class="contsyanrb2 line-clamp l">中建集团沉浸式视频会议系统上线试运行</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/10.html"> <span class="contsyanrb2 line-clamp l">建交45周年，中国建筑助力中菲友谊新未</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/9.html"> <span class="contsyanrb2 line-clamp l">中国建筑与烟台市政府签署战略合作协议</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/8.html"> <span class="contsyanrb2 line-clamp l">抓实抓细在京单位和项目疫情防控</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/7.html"> <span class="contsyanrb2 line-clamp l">中建集团积极助力北京疫情防控</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/hangyexinwen/6.html"> <span class="contsyanrb2 line-clamp l">中国建筑位居2020年度“义利99”榜单榜首</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>

                            </ul>
                        </div>
                    </div>
                </div><div class="am-tab-panel am-fade " id="tab2">
                    <div class="contsyanrt">
                        <div class="contsyanrtl l">
                            <div class="contsyanrtlt">中建集团召开2020年度商务管理工作会议</div>
                            <div class="contsyanrtlb">3月31日，中建集团2020年度商务管理工作会议在京召开，会议以习近平新时代中国特色社会主义思想为指导，深入学习贯彻党的十九大、十九届二中、三中、...</div>
                        </div>
                        <div class="contsyanrtr r"><a href="/xinwenzixun/gongsidongtai/">更多>></a></div>
                    </div>

                    <div class="contsyanrb">
                        <div class="contsyanrbl l">
                            <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
                                <ul class="am-slides">
                                    <li> <a href="/xinwenzixun/gongsidongtai/26.html">
                                        <div class="contsyanrblt">02<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">中国建筑成功签约阿尔及尔700床CHU医院项</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21P929339.png" height="324"> </a> </li>
                                    <li> <a href="/xinwenzixun/gongsidongtai/21.html">
                                        <div class="contsyanrblt">02<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">火力全开，乘势而上！中建集团东西南北</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21K640L6.jpg" height="324"> </a> </li>
                                    <li> <a href="/xinwenzixun/gongsidongtai/19.html">
                                        <div class="contsyanrblt">02<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">中国建筑荣膺资本市场三项大奖</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21K5002c.gif" height="324"> </a> </li>
                                    <li> <a href="/xinwenzixun/gongsidongtai/18.html">
                                        <div class="contsyanrblt">02<span>2020-07</span></div>
                                        <div class="contsyanrbls line-clamp2">
                                            <div class="contsyanrblss line-clamp2">“盛世桔”亮相！中国建筑正式进入地铁</div>
                                        </div>
                                        <img src="/uploads/allimg/200702/1-200F21K404539.jpg" height="324"> </a> </li>

                                </ul>
                            </div>
                        </div>
                        <div class="contsyanrbr r">
                            <ul>
                                <li><a href="/xinwenzixun/gongsidongtai/30.html"> <span class="contsyanrb2 line-clamp l">“一条通往繁荣发展的铁路”（共创繁荣发展新时代）</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/29.html"> <span class="contsyanrb2 line-clamp l">中建集团全力建设“港版火神山”，争分</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/28.html"> <span class="contsyanrb2 line-clamp l">中央媒体集中关注中建集团全球战“疫”</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/26.html"> <span class="contsyanrb2 line-clamp l">中国建筑成功签约阿尔及尔700床CHU医院项</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/25.html"> <span class="contsyanrb2 line-clamp l">中建集团荣获多项甘肃省2019年度脱贫攻坚</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/24.html"> <span class="contsyanrb2 line-clamp l">复工复产“建”行动！中建集团多措并举</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/23.html"> <span class="contsyanrb2 line-clamp l">中建集团召开2020年一季度运营分析会议</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/22.html"> <span class="contsyanrb2 line-clamp l">中建集团召开2020年度财务金融工作会议</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>
                                <li><a href="/xinwenzixun/gongsidongtai/21.html"> <span class="contsyanrb2 line-clamp l">火力全开，乘势而上！中建集团东西南北</span> <span class="contsyanrb3 r">2020-07-02</span> </a></li>

                            </ul>
                        </div>
                    </div>
                </div> </div>
            </div>
        </div>
    </div>
</div>
<div class="contsyb c">
    <div class="box"> <div class="contsyabtt">工程展示 <span>公司在土建、安装、装饰、隧道工程、消防、空调、智能化等领域处于全省领先地位。</span></div>
        <div class="contsybnr">
            <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
                <ul class="am-tabs-nav am-nav am-nav-tabs">
                    <li class="am-active"> <a href="#tab4"> <span class="xxdywtb"><img src="../static/images/fwjz2.png" alt="隧道工程"></span> <span class="xxdywtb2 l"><img src="../static/images/fwjz.png" alt="隧道工程"></span> <span class="xxdywtb3 r">隧道工程</span> </a> </li>
                    <li> <a href="#tab5"> <span class="xxdywtb"><img src="../static/images/szgl2.png" alt="高速公路"></span> <span class="xxdywtb2 l"><img src="../static/images/szgl.png" alt="高速公路"></span> <span class="xxdywtb3 r">高速公路</span> </a> </li>
                    <li> <a href="#tab6"> <span class="xxdywtb"><img src="../static/images/jdaz2.png" alt="桥梁工程"></span> <span class="xxdywtb2 l"><img src="../static/images/jdaz.png" alt="桥梁工程"></span> <span class="xxdywtb3 r">桥梁工程</span> </a> </li>

                    <li> <a href="#tab7"> <span class="xxdywtb"><img src="../static/images/zszx2.png" alt="地下管廊"></span> <span class="xxdywtb2 l"><img src="../static/images/zszx.png" alt="地下管廊"></span> <span class="xxdywtb3 r">地下管廊</span> </a> </li>
                    <li> <a href="#tab8"> <span class="xxdywtb"><img src="../static/images/gjg2.png" alt="房屋建筑"></span> <span class="xxdywtb2 l"><img src="../static/images/gjg.png" alt="房屋建筑"></span> <span class="xxdywtb3 r">房屋建筑</span> </a> </li>
                </ul>
                <div class="am-tabs-bd"> <div class="am-tab-panel am-fade am-in am-active" id="tab4">
                    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
                        <ul class="am-slides">
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31116430-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">文化中心</div>
                                    <div class="contsybnrblrnr c">荣获2010年度泰山杯奖、国家房屋建筑金奖、2008年度省级安全文明...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/suidaogongcheng/37.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31112240-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">CBD创业大厦工程</div>
                                    <div class="contsybnrblrnr c">荣获2014年度山杯奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/suidaogongcheng/32.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31111160-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">国际机场航站楼</div>
                                    <div class="contsybnrblrnr c">荣获2016年度国家优质工程奖、2014年度中国房屋建筑金奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/suidaogongcheng/31.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div><div class="am-tab-panel am-fade " id="tab5">
                    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
                        <ul class="am-slides">
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31114070-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">写字楼工程</div>
                                    <div class="contsybnrblrnr c">荣获2014年度国家优质工程奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/gaosugonglu/34.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31113130-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">工商局综合服务楼</div>
                                    <div class="contsybnrblrnr c">荣获2009年度泰杯奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/gaosugonglu/33.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div><div class="am-tab-panel am-fade " id="tab6">
                    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
                        <ul class="am-slides">
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31115450-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">火车站</div>
                                    <div class="contsybnrblrnr c">荣获2010年度国家优质工程奖、2010年度中国房屋建筑金奖、2008年度...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/qiaolianggongcheng/36.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31114570-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">海洋产权交易中心</div>
                                    <div class="contsybnrblrnr c">荣获2014年山东省优质结构奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/qiaolianggongcheng/35.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div><div class="am-tab-panel am-fade " id="tab7">
                    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
                        <ul class="am-slides">
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F31119140-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">发展研究所</div>
                                    <div class="contsybnrblrnr c">荣获2009年度泰山杯奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/dixiaguanlang/40.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F3111Q90-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">医院综合大楼</div>
                                    <div class="contsybnrblrnr c">荣获2015年国家优质工程奖、2004年度泰山杯奖。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/dixiaguanlang/39.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div><div class="am-tab-panel am-fade " id="tab8">
                    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
                        <ul class="am-slides">
                            <li>
                                <div class="contsybnrbll l"> <img src="/uploads/allimg/200703/1-200F3111H70-L.jpg"> </div>
                                <div class="contsybnrblr r">
                                    <div class="contsybnrblrbt c">会展中心</div>
                                    <div class="contsybnrblrnr c">荣获2007年度鲁班奖、2006年度省级安全示范文明工地。...</div>
                                    <div class="contsybnrblrmo c"><a href="/gongchengzhanshi/fangwujianzhu/38.html">查看更多 <span> > </span> </a></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div> </div>
            </div>
        </div>
    </div>
</div>
<div class="contsyc c">
    <div class="box">
        <div class="contsyca">
            <div class="contsycal l"><img src="../static/images/logoys.jpg"/></div>
            <div class="contsycar l">
                <div class="contsycarbt">公司简介</div>
                <div class="contsycarnr">某某集团有限公司建筑安装分公司是集团公司龙头企业</div>
                <a href="/guanyuwomen/gongsijianjie/" class="contsycarns">更多>></a> </div> </div>
        <div class="contsyca">
            <div class="contsycal l"><img src="../static/images/gsry.jpg"/></div>
            <div class="contsycar l">
                <div class="contsycarbt">公司资质</div>
                <div class="contsycarnr">经过多年的积累，十公司已经获得各种资质荣誉</div>
                <a href="/guanyuwomen/gongsizizhi/" class="contsycarns">更多>></a> </div> </div>
        <div class="contsyca">
            <div class="contsycal l"><img src="../static/images/qywh.jpg"/></div>
            <div class="contsycar l">
                <div class="contsycarbt">企业文化</div>
                <div class="contsycarnr">诚信 自强 创新 一流 追求卓越</div>
                <a href="/guanyuwomen/qiyewenhua/" class="contsycarns">更多>></a> </div> </div>
        <div class="contsyca">
            <div class="contsycal l"><img src="../static/images/fzlc.jpg"/></div>
            <div class="contsycar l">
                <div class="contsycarbt">组织架构</div>
                <div class="contsycarnr">经过多年的积累，十公司已经承载太多的发展故事</div>
                <a href="/guanyuwomen/zuzhijiagou/" class="contsycarns">更多>></a> </div> </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                            <li><a href="/guanyuwomen/renwenguanhuai/">人文关怀</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/hangyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a></li>

                        <li><a href="/gongchengzhanshi/gaosugonglu/">高速公路</a></li>

                        <li><a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a></li>

                        <li><a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a></li>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="/static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="/static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
{#    <div class="footer_bottom">#}
{#        <div class="box">#}
{#            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>#}
{#        </div>#}
{#    </div>#}
</div>

</body>
</html>
