
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关于我们_十堰市昊阳建设工程有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/layout.css">
    <link rel="stylesheet" href="../../static/css/z_tuch.css">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="../../static/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="../../static/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="https://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="box">
        <div class="logo l"> <a href="/"><img src="../../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"></a> </div>
        <div class="nav r">
            <div class="mainnav c">
                <ul>
                    <li class="c_nav_nav_li1"> <a href="/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c">网站首页</div>
                    </a> </li>
                    <li class="c_nav_nav_li1"> <a href="/guanyuwomen/" style="display: block; height:52px; line-height: 52px">
                        <div class="c_nav_nav_li_a c ">关于我们</div>
                    </a>
                        <div class="c_nav_nav_li_b c">
                            <ul>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsijianjie/">
                                    <div class="c_nav_nav_li2_b c">公司简介<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/zuzhijiagou/">
                                    <div class="c_nav_nav_li2_b c">组织架构<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/qiyewenhua/">
                                    <div class="c_nav_nav_li2_b c">企业文化<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                                <li class="c_nav_nav_li2"> <a href="/guanyuwomen/gongsizizhi/">
                                    <div class="c_nav_nav_li2_b c">公司资质<i class="c_nav_nav_li2_b_i">></i></div>
                                </a> </li>

                            </ul>
                        </div>
                    </li><li class="c_nav_nav_li1"> <a href="/xinwenzixun/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">新闻资讯</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/hangyexinwen/">
                                <div class="c_nav_nav_li2_b c">行业新闻<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/xinwenzixun/gongsidongtai/">
                                <div class="c_nav_nav_li2_b c">公司动态<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/gongchengzhanshi/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">工程展示</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/suidaogongcheng/">
                                <div class="c_nav_nav_li2_b c">隧道工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/gaosugonglu/">
                                <div class="c_nav_nav_li2_b c">高速公路<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/qiaolianggongcheng/">
                                <div class="c_nav_nav_li2_b c">桥梁工程<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/dixiaguanlang/">
                                <div class="c_nav_nav_li2_b c">地下管廊<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                            <li class="c_nav_nav_li2"> <a href="/gongchengzhanshi/fangwujianzhu/">
                                <div class="c_nav_nav_li2_b c">房屋建筑<i class="c_nav_nav_li2_b_i">></i></div>
                            </a> </li>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/rencaizhaopin/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">人才招聘</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li><li class="c_nav_nav_li1"> <a href="/lianxiwomen/" style="display: block; height:52px; line-height: 52px">
                    <div class="c_nav_nav_li_a c ">联系我们</div>
                </a>
                    <div class="c_nav_nav_li_b c">
                        <ul>

                        </ul>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="chbnav_touch" class="c">
    <div class="chbnav_touch_top c">
        <div class="chbnav_touch_top_list c">
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_c c"></div>
            <div class="chbnav_touch_top_list_a chbnav_touch_top_list_b c"></div>
            <div class="chbnav_touch_top_list_a c"></div>
        </div>
        <a href="/">
            <div class="chbnav_touch_top_logo c"> <img src="../../static/images/logo.png" alt="十堰市昊阳建设工程有限公司"> </div>
        </a> </div>
    <div class="chbnav_touch_nav c">
        <div class="chbnav_touch_nav_box c">
            <div class="chbnav_touch_nav_title c">
                <div class="chbnav_touch_navli chbnav_touch_navli1 c"> <a href="/"><span>首页</span></a> <img style="width: 20px;" src="../../static/images/touch_cha.png"> </div>
                <div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/guanyuwomen/"><span>关于我们</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                    <div class="chbnav_touch_erji c">  <a href="/guanyuwomen/gongsijianjie/">公司简介</a>  <a href="/guanyuwomen/zuzhijiagou/">组织架构</a>  <a href="/guanyuwomen/qiyewenhua/">企业文化</a>  <a href="/guanyuwomen/gongsizizhi/">公司资质</a>  </div>
                </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/xinwenzixun/"><span>新闻资讯</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/xinwenzixun/hangyexinwen/">行业新闻</a>  <a href="/xinwenzixun/gongsidongtai/">公司动态</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/gongchengzhanshi/"><span>工程展示</span></a> <span class="chbnav_touch_navli2_img"><img src="../../static/images/nav_li1jt.png"></span>
                <div class="chbnav_touch_erji c">  <a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a>  <a href="/gongchengzhanshi/gaosugonglu/">高速公路</a>  <a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a>  <a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a>  <a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a>  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/rencaizhaopin/"><span>人才招聘</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div><div class="chbnav_touch_navli chbnav_touch_navli2 c"> <a href="/lianxiwomen/"><span>联系我们</span></a>
                <div class="chbnav_touch_erji c">  </div>
            </div> </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.chbnav_touch_top_list').click(function () {
            $('.chbnav_touch_nav_box').addClass('chbnav_select');
            $('body').css('position','fixed');
        });
        $('.chbnav_touch_navli1 img').click(function () {
            $('.chbnav_touch_nav_box').removeClass('chbnav_select');
            $('body').css('position','relative');
        });

        $(".chbnav_touch_navli").click(function () {

            $(".chbnav_touch_erji").slideUp();

            if($(".chbnav_touch_erji",this).css("display")=="block"){

            }else{
                $(".chbnav_touch_erji",this).slideDown();
            }
        });
    })
</script>

<div class="z_ny_banner wps-show" style="position: relative; background: url(/static/images/about.jpg) no-repeat center;">
    <div class="z_ny_banner_bg c"> </div>
</div>
<div class="z_ny_banner wps-no" style="position: relative; background: url(/static/images/aboutm.jpg) no-repeat center; background-size: cover;">
    <div class="z_ny_banner_bg c"> </div>
</div>
<style>
    .z_ny_banner{
        height: 315px;
    }
    .am-slider-default .am-control-nav{
        display: none;
    }
    .am-slider .am-slides li{
        margin: 0 !important;
        padding: 0;
        text-align: center;
    }
    .am-slider-default{
        box-shadow: none;
        border: none;
    }
    .am-gallery-item{
        width: 380px;
        height: 270px;
        text-align: center;
        border: 5px solid #F8F8F8;
        display: inline-block;
        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
    }
    .am-gallery-item a{
        width: 340px;
        height: 230px;
        margin-top: 15px;
        display: inline-block;
    }
    .am-gallery-default .am-gallery-item img{
        display: inline-block;
        width: auto;
        height: 100%;
    }
    .am-slider-default .am-direction-nav a:before{
        display: none;
    }
    .am-slider-default .am-direction-nav a{
        width: 46px;
        height: 95px;
    }
    .am-slider-default .am-direction-nav .am-next{
        background: url("/static/images/rightqh.png") no-repeat center;
    }
    .am-slider-default .am-direction-nav .am-prev{
        background: url("/static/images/leftqh.png") no-repeat center;
    }
    .am-slider-default .am-direction-nav a{
        top:39%;
    }
</style>
<div class="z_ny_cont c" style="padding-top: 0">
    <div class="box">
        <div class="about_nra c">
            <div class="about_nra_bt c">
                <div class="about_nra_bt_l l">关于我们</div>
                <a href="/guanyuwomen/gongsijianjie/" class="about_nrbltr r" style="border-color:#ddd; color: #666 ">查看详情 <span> > </span></a> </div>
            <div class="about_nra_nr" style="min-height: 115px;">
                <p> &nbsp;十堰市昊阳建设工程有限公司（简称昊阳建设），正是组建于2008年3月，是一家主营隧道工程的建筑公司，公司文化悠久，其他经营业务包括桥梁、路基、管廊、房屋建筑等。</p>
                <p>
                    昊阳建设主要以有限责任制的公司形式展开经营活动，在湖北、四川、云南、广西、新疆等省份均进行过施工建设，并优秀的完成施工项目。
                    </p>
            </div>
            <div class="about_nra_sg">
                <div class="about_nra_sg_box">
                    <div class="about_nra_sg_boxa l">
                        <div class="about_nra_sg_boxal l"><img src="/static/images/abouttb0.jpg"></div>
                        <div class="about_nra_sg_boxar r">
                            <div class="about_nra_sg_boxart">300万 <span>㎡</span></div>
                            <div class="about_nra_sg_boxarb">年施工能力</div>
                        </div>
                    </div>
                    <div class="about_nra_sg_boxa l">
                        <div class="about_nra_sg_boxal l"><img src="/static/images/abouttb1.jpg"></div>
                        <div class="about_nra_sg_boxar r">
                            <div class="about_nra_sg_boxart">30亿 </div>
                            <div class="about_nra_sg_boxarb">总产值</div>
                        </div>
                    </div>
                    <div class="about_nra_sg_boxa l" style="margin-right: 0">
                        <div class="about_nra_sg_boxal l"><img src="/static/images/abouttb2.jpg"></div>
                        <div class="about_nra_sg_boxar r">
                            <div class="about_nra_sg_boxart">100 <span>+</span></div>
                            <div class="about_nra_sg_boxarb">工程奖项</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_nrb c">
            <div class="about_nrbl l"> <div class="about_nrblt">
                <div class="about_nrbltl l">
                    <div class="about_nrbltlt">组织架构</div>
                    <div class="about_nrbltlb">呈现企业组织架构图</div>
                </div>
                <a href="/guanyuwomen/zuzhijiagou/" class="about_nrbltr r">查看详情 <span> > </span></a> </div>
                <div class="about_nrbls"></div>
                <div class="about_nrblc"><img src="/static/images/xhhl.jpg" alt="组织架构"></div> </div>
            <div class="about_nrbl l"> <div class="about_nrblt">
                <div class="about_nrbltl l">
                    <div class="about_nrbltlts">企业文化</div>
                    <div class="about_nrbltlb">诚信 自强 创新 一流</div>
                </div>
                <a href="/guanyuwomen/qiyewenhua/" class="about_nrbltr r">查看详情 <span> > </span></a> </div>
                <div class="about_nrblss"></div>
                <div class="about_nrblc"><img src="/static/images/xhhl.jpg" alt="企业文化"></div> </div>
        </div>
        <div class="about_nrc c"> <div class="about_nra_bt c">
            <div class="about_nra_bt_l l">公司资质</div>
            <a href="/guanyuwomen/gongsizizhi/" class="about_nrbltr r" style="border-color:#ddd; color: #666 ">查看详情 <span> > </span></a></div>
            <div class="about_nra_nr">
                <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"animation":"slide","animationLoop":false,"itemWidth":400,"itemMargin":3}' >
                    <ul data-am-widget="gallery" class="am-slides am-gallery am-gallery-default" data-am-gallery="{ pureview: true }" >
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/allimg/200703/1-200F31134050-L.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/allimg/200703/1-200F31134050-L.jpg"  alt="荣誉资质六"/> </a> </div>
                        </li>
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/200703/1-200F3113315528.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/200703/1-200F3113315528.jpg"  alt="荣誉资质五"/> </a> </div>
                        </li>
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/allimg/200703/1-200F31132340-L.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/allimg/200703/1-200F31132340-L.jpg"  alt="荣誉资质四"/> </a> </div>
                        </li>
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/allimg/200703/1-200F31132140-L.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/allimg/200703/1-200F31132140-L.jpg"  alt="荣誉资质三"/> </a> </div>
                        </li>
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/allimg/200703/1-200F31131210-L.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/allimg/200703/1-200F31131210-L.jpg"  alt="荣誉资质二"/> </a> </div>
                        </li>
                        <li>
                            <div class="am-gallery-item" style="position: relative"> <a href="javascript:;"> <img src="/uploads/allimg/200703/1-200F31131000-L.jpg" style="position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;"/> <img src="/uploads/allimg/200703/1-200F31131000-L.jpg"  alt="荣誉资质一"/> </a> </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer c">
    <div class="footer_top">
        <div class="box">
            <div class="dbdh l">
                <ul>
                    <li> <a href="/guanyuwomen/">关于我们</a>
                        <ul>

                            <li><a href="/guanyuwomen/gongsijianjie/">公司简介</a></li>

                            <li><a href="/guanyuwomen/zuzhijiagou/">组织架构</a></li>

                            <li><a href="/guanyuwomen/qiyewenhua/">企业文化</a></li>

                            <li><a href="/guanyuwomen/gongsizizhi/">公司资质</a></li>

                        </ul>
                    </li><li> <a href="/xinwenzixun/">新闻资讯</a>
                    <ul>

                        <li><a href="/xinwenzixun/hangyexinwen/">行业新闻</a></li>

                        <li><a href="/xinwenzixun/gongsidongtai/">公司动态</a></li>

                    </ul>
                </li><li> <a href="/gongchengzhanshi/">工程展示</a>
                    <ul>

                        <li><a href="/gongchengzhanshi/suidaogongcheng/">隧道工程</a></li>

                        <li><a href="/gongchengzhanshi/gaosugonglu/">高速公路</a></li>

                        <li><a href="/gongchengzhanshi/qiaolianggongcheng/">桥梁工程</a></li>

                        <li><a href="/gongchengzhanshi/dixiaguanlang/">地下管廊</a></li>

                        <li><a href="/gongchengzhanshi/fangwujianzhu/">房屋建筑</a></li>

                    </ul>
                </li><li> <a href="/rencaizhaopin/">人才招聘</a>
                    <ul>

                    </ul>
                </li><li> <a href="/lianxiwomen/">联系我们</a>
                    <ul>

                    </ul>
                </li>
                </ul>
            </div>
            <div class="rcewm r">
                <div class="ntcb l"> 官方微信<br />
                    <img src="/static/images/ewm.jpg" width="114" height="114"/> </div>
                <div class="ntcb l"> 移动端二维码<br />
                    <img src="/static/images/ewm2.jpg" width="114" height="114"/> </div>
            </div>
        </div>
    </div>
{#    <div class="footer_bottom">#}
{#        <div class="box">#}
{#            <div class="footer_bottom_l l">Copyright &copy; 2002-2020 某某建筑集团有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备xxxxxxxx号 </a></div>#}
{#        </div>#}
{#    </div>#}
</div>

</body>
</html>
